# Dependencies & build
node_modules
.next
out
dist
coverage
.turbo

# Env & secrets
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# OS/editor
.DS_Store
Thumbs.db

# Tooling
.vercel
